@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  50% {
    opacity: 1;
    transform: translateY(8px);
  }
  100% {
    opacity: 0;
    transform: translateY(16px);
  }
}

.animate-scroll {
  animation: scroll 1.5s infinite;
}
html {
  scroll-behavior: smooth;
}
html, body {
  overflow-x: hidden;
}